@font-face {
    font-family: 'DM Sans';
    src: url('./js-ts-webdev-tasks/assets/') format('truetype'); /* путь к файлу шрифта */
    font-weight: normal; /* или bold, если у вас разные веса шрифта */
    font-style: normal; /* или italic, если шрифт курсивный */
  }

  body {
    all: unset;
    font-family: 'DM Sans', sans-serif; /* Подключение шрифта на странице */
    /*background-color: rgb(255, 255, 255);*/
    /* background-color: aquamarine; */
    justify-items: center;
  }

  .hdiv
  {
    width: 756px;
    /* background-color: white; */
    margin: 0 auto;
  }

section {
  /* width: 1170px; */
  margin: 0 auto;
}

  h1 {
    text-align: center;
    color: #141414;
    font-size: 42px;
  }


  
  .grid {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
    border-color: #141414;
    /* background-color: aliceblue; */
    
  }

  img {
    overflow: hidden;
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
 }

  .pagetext {
    color: rgba(21, 20, 57, 0.4);
    font-size: 22px;
    text-align: center;
    line-height: 32px;
  }
  
  h6 {
    font-size: 22px;
    color: #1E0E62;
    line-height: 32px;
    margin: 20px 0;
    margin: 20px 0 20px 20px;
  }

  article {
    font-size: 16px;
    color: rgba(21, 20, 57, 0.4);
    line-height: 26px;
    margin: 20px 0 20px 20px;
  }

  .card {
    width: 520px;
    border-radius: 20px;
    border-color: rgb(8, 8, 8);
    border-width: 2px;
    background-color: rgb(255, 255, 255);
    font-size: 22px;
    object-fit: cover; 
    margin: 20px;
  }
  
  .card--red {
    color: red;
    font-size: 22px;
  }

  section {
    border-color: rgb(0, 0, 0);
  border-radius: 10px;
  border-width: 2px;  
  }

.tags {
  color: blue;
  text-transform: uppercase;
  margin: 20px 0 20px 20px;
}
